body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.box{
    height: 100vh;
    width: 100%;
}
.single-box .div-left{
    width: 49%;
    height: auto;
    float: left;
}
.single-box .div-right{
    width: 49%;
    height: auto;
    float: right;
}
p{
    padding: 25% 15%;
    font-size: 20px;
    color:#fff;
}
img{
    padding: 20% 5% 0 5%;
}
.color1
{
    background: #0984e3;
}
.color2
{
    background: #ff7675;
}
.color3
{
    background: #00b894;
}
.color4
{
    background: #e84393;
}
.color5
{
    background: #ffa502;
}
.color6
{
    background:rgba(100, 208, 217, 0.87);
}